<h1>Editing food enquete</h1>

<%= render "form", food_enquete: @food_enquete %>

<br>

<div>
  <%= link_to "Show this food enquete", @food_enquete %> |
  <%= link_to "Back to food enquetes", food_enquetes_path %>
</div>
