<h1>Editing gym enquete</h1>

<%= render "form", gym_enquete: @gym_enquete %>

<br>

<div>
  <%= link_to "Show this gym enquete", @gym_enquete %> |
  <%= link_to "Back to gym enquetes", gym_enquetes_path %>
</div>
